<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeSystemFinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.demo.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeesServlet</display-name>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>com.demo.controller.ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/ViewEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.demo.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.demo.controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmployeeServlet</display-name>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>com.demo.controller.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeDeptServlet</display-name>
    <servlet-name>UpdateEmployeeDeptServlet</servlet-name>
    <servlet-class>com.demo.controller.UpdateEmployeeDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeDeptServlet</servlet-name>
    <url-pattern>/UpdateEmployeeDeptServlet</url-pattern>
  </servlet-mapping>
</web-app>